<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('nav.ejs') %>
    <div class="container">
        <div class="detail-bg">
            <h1><%= result.title %></h1>
            <p><%= result.content %></p>
            <a href="/edit/<%= result._id %>" class="button-style">Edit</a>
            <form action="/delete?_method=DELETE" method="POST" style="display: inline;">
                <input type="hidden" name="docid" value="<%= result._id %>">
                <button type="submit" class="delete">Delete</button>
            </form>
        </div>
    </div>
</body>
</html>